<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        function verify() {
            
        }
    </script>
</head>
<body>
    <form action="/user/register">
        用户名：<input type="text" name="name"/><br/>
        密　码：<input type="password" name="password"/><br/>
        邮　箱：<input type="email" name="email"><input type="button" name="verify" value="发送验证" onclick="verify" "/><br/>
        验证码：<input type="text" name="yz"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>